<div id="home-container"  class="full-screen full">

	home
	<div ng-show="upcomingTodoList" class="todo-view-section"  ng-swipe-left="openNav('logOpen')" ng-swipe-right="openNav('todoOpen')" >
		
		<h3>Upcoming Todos</h3>	
		<ul class="page-view-list">
	    <li id="listitem-{{todo.id}}" class="list-item" ng-repeat="(key, todo) in upcomingTodoList|orderBy:'todo.dueDate'">
			<button class="list-item-title" ng-if="(todo.children).length >= 1" ng-click="updateViewNode(todo, 'list')">{{todo.title}}</button>
	        <button class="list-item-title" ng-if="(todo.children).length == 0" ng-click="updateViewNode(todo, 'list')">{{todo.title}}</button>
	    </li>
	  </ul>
	</div>
	
	<div class="filler"></div>
</div>
